<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>G-Service: Ремонт комп'ютерів</title>
    <meta name="author" content="Taras Labiak <kissarat@gmail.com>"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
          rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"
            integrity="sha256-1Q2q5hg2YXp9fYlM++sIEXOcUb8BRSDUsQ1zXvLBqmA=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="blue"></div>
    <nav>
        <h1><span>G</span>-Сервіс</h1>
        <span id="under-development">
            <i class="zmdi zmdi-alert-triangle"></i>
            Сайт знаходиться в розробці
        </span>
    </nav>
</header>
<div id="slogan">
    <div>Що ми можемо</div>
    <div class="uppercase">вам полагодити сьогодні?</div>
    <form v-if="contact" id="contact">
        <input v-model="email" type="email" placeholder="Email"/>
        <input v-model="name" placeholder="Ім'я"/>
        <textarea v-model="text" placeholder="Опис проблеми" rows="7"></textarea>
        <button v-on:click="send()" type="button">Відправити</button>
    </form>
    <button v-else
            type="button"
            id="make"
            v-on:click="contact = true">
        Записатися або запитати
    </button>
</div>
<div id="background"></div>
<span id="developer">
    Developed by
    <a href="https://www.facebook.com/kissarat">Taras Labiak</a>
</span>
<script src="script.js"></script>
<script src="https://api.ipify.org?format=jsonp&callback=ipify"></script>
</body>
</html>
